$primary-color: #378c3b;
$primary-darker: #26812a;

$background-dark: #1c1c1c;
$background-light: #fafafa;

$card-color: #242424;
$card-color-secondary: #2D2D2D;

$text-dark: #1c1c1c;
$text-light: #fafafa;

$button-dark: #353535;

$box-shadow: 0px 4px 10px 0px #0000004d;

$error: #fd7878;